// Colors
$grey: #333;

// Navigation colors
$nav-background: $grey;
$nav-text-color: white;

// Clock colors

$clock-text-color: white;
$clock-bg-color: rgba(0, 0, 0, 0.8);
$clock-border-color: black;
