.count-down-form {
  input.form-control {
    color: black;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  .btn-primary {
    background: rgba(0, 0, 0, 0.8);
  }
}

.count-down {
  float: none;
  margin: 0 auto;
}
